@font-face {
    font-family: "iconfont";
    src: url('../assets/font/iconfont.woff2?t=1658570223155') format('woff2'),
        url('../assets/font/iconfont.woff?t=1658570223155') format('woff'),
        url('../assets/font/iconfont.ttf?t=1658570223155') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-huishouzhan:before {
    content: "\e61b";
}

.icon-daan:before {
    content: "\e62b";
}

.icon-VideoList:before {
    content: "\e62d";
}

.icon-icon-:before {
    content: "\e62e";
}

.icon-zuoce-qujian:before {
    content: "\e6dd";
}

.icon-pingfen:before {
    content: "\e603";
}

.icon-icon_juzhentiankong:before {
    content: "\e73a";
}

.icon-shaixuantiku:before {
    content: "\eaae";
}

.icon-danxuanti:before {
    content: "\e633";
}

.icon-duoxuanti:before {
    content: "\e6b3";
}

.icon-bianji:before {
    content: "\e8ac";
}

.icon-shanchu:before {
    content: "\e602";
}

.icon-tuodong:before {
    content: "\e6e1";
}

.icon-cuowuguanbiquxiao:before {
    content: "\e8e7";
}

.icon-chacha:before {
    content: "\e658";
}

.icon-yasuobao:before {
    content: "\e61a";
}

.icon-jinengpingce:before {
    content: "\e606";
}

.icon-icon_yonghuguanli:before {
    content: "\e630";
}

.icon-xia:before {
    content: "\e63c";
}

.icon-shouqicaidan:before {
    content: "\e622";
}

.icon-zhankai:before {
    content: "\e7d3";
}

.icon-shouye:before {
    content: "\e639";
}

.icon-duigou:before {
    content: "\e632";
}

.icon-goto:before {
    content: "\e674";
}

.icon-yanzhengma:before {
    content: "\e6bf";
}

.icon-ai-password:before {
    content: "\e63e";
}

.icon-yonghuming:before {
    content: "\e6c0";
}

html,
body,
#root {
    height: 100%;
}