.login-box {
    min-width: 1000px;
    min-height: 460px;
    background-image: url('../../assets/images/login/bg.png');
    background-size: 150% 150%;
    background-position: center;
    animation: bgSize 2s ease infinite;
    animation-direction: alternate;

    @keyframes bgSize {
        100% {
            background-size: 100% 100%;
        }
    }

    &__content {
        width: 1000px;
        height: 460px;

        &_right {
            .login-wrapper {
                box-sizing: border-box;
                width: 390px;
                height: 470px;
                box-shadow: 3px 3px 20px #9993;
                background: rgba(255, 255, 255, .4);
                backdrop-filter: blur(10px);
                border-radius: 20px;
            }
        }
    }
}